.header-genre {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-genre>button {
   position: absolute;
   left: 120px;
}

.card-content {
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
    gap: 10px;
}