.card-body{
    width: 250px;
    height: 250px;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
}
.card-img{
    border-radius: 50%;
    width: 170px;
    margin: 20px 20px 0px 40px;
}
.song-name{
   height: 25px;
   width: 150px;
   white-space: nowrap; 
   overflow: hidden;
   text-overflow: ellipsis; 
    
}
.left-section {
    flex-direction: column;
}
.card-footer{
    display: -webkit-flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.heart-img{
    margin-bottom: 5px;
}

.heart-count{
 position: relative;
  text-align: center;
  color: white;
}
.count{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}